@import 'tailwindcss';

@theme {
	--color-darkBg: #121212;

	--color-darker-100: #ffffff;
	--color-darker-200: #f5f5f5;
	--color-darker-300: #e0e0e0;

	--color-darker-400: #d0d0d0;
	--color-darker-500: #c0c0c0;
	--color-darker-600: #a8a8a8;

	--color-darker-700: #909090;
	--color-darker-800: #787878;
	--color-darker-900: #606060;

	--color-normal-100: #fff;
	--color-normal-300: #dfdfdf;

	--color-highlight: #fd6f00;

	--font-heading: 'Raleway', serif;
	--font-base: 'Lato', sans-serif;

	--breakpoint-xs: 25rem;

	--animate-fullRotate: fullRotation 1s linear infinite;
}

@layer base {
	html {
		font-size: 100%;
	}

	body {
		font-family: var(--font-base);
		font-weight: 500;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-heading);
	}
}
