@import 'tailwindcss';

@theme {
	--color-darkBg: #121212;

	--color-darker-300: #bababa;
	--color-darker-500: #959595;
	--color-darker-600: #707070;
	--color-darker-700: #575757;

	--color-normal-100: #fff;
	--color-normal-300: #dfdfdf;

	--color-highlight: #fd6f00;

	--font-heading: 'Raleway', serif;
	--font-base: 'Lato', sans-serif;

	@keyframes spin {
		from {
			--p: 0%;
		}
		to {
			--p: 55%;
		}
	}
}

@layer base {
	html {
		font-size: 100%;
	}

	body {
		font-family: var(--font-base);
		font-weight: 500;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-heading);
	}
}
